{% extends 'admin/base.html' %}
{% block content %}
            <main class="">
                <div class="grid mb-4 pb-10 px-8 mx-4 rounded-3xl bg-gray-100 border-4 border-green-400">

                    <div class="grid grid-cols-12 gap-6">
                        <div class="grid grid-cols-12 col-span-12 gap-6 xxl:col-span-9">
                            <div class="col-span-12 mt-8">
                                <div class="flex items-center h-10 intro-y">
                                    <h2 class="mr-5 text-lg font-medium truncate">Dashboard</h2>
                                </div>
                                <div class="grid grid-cols-12 gap-6 mt-5">
                                  
                                    
                               
                                
                        
                            <div class="col-span-12 mt-5">
                                
                                
                                    <!--SEND DAILY REPORT-->
                                <div class="relative mr-6 my-2 flex justify-start">
                                    <button class="bg-white text-gray-800 font-bold rounded border-b-2 border-green-500 hover:border-green-600 hover:bg-green-500 hover:text-white shadow-md py-2 px-6 inline-flex items-center">
                                    <a href="{% url 'send_report' %}"><span class="mr-2">Send Daily Report</span></a>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path fill="currentcolor" d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"></path>
                                    </svg>
                                    </button>
                                    <br><br><br>
                                    </div>
                                    </div>
                            </div>

                                  
                                  
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </main>
      {% endblock %}